# Unity generated folders
/Client.Unity/[Ll]ibrary/
/Client.Unity/[Tt]emp/
/Client.Unity/[Oo]bj/
/Client.Unity/[Bb]uild/
/Client.Unity/[Bb]uilds/
/Client.Unity/[Ll]ogs/
/Client.Unity/[Uu]ser[Ss]ettings/
/Client.Unity/[Mm]emoryCaptures/
/Client.Unity/[Rr]ecordings/

# Unity generated project files
/Client.Unity/*.csproj
/Client.Unity/*.unityproj
/Client.Unity/*.sln
/Client.Unity/*.slnx
/Client.Unity/*.suo
/Client.Unity/*.tmp
/Client.Unity/*.user
/Client.Unity/*.userprefs

# IDE caches
/Client.Unity/.vs/
/Client.Unity/.gradle/

# Generated Unity folders inside Assets
/Client.Unity/[Aa]ssets/Plugins/Editor/JetBrains*
/Client.Unity/[Aa]ssets/Unity.VisualScripting.Generated/
/Client.Unity/[Aa]ssets/[Ss]ceneDependencyCache*